@import '../../../../../assets/scss/theme-color.scss';
@import '../../../../../assets/scss/font.scss';

.app-main {
  mat-drawer-container {
    height: 100vh;
    width: 100%;

    mat-drawer {
      border-radius: 0;
    }

    .sidenav-content {
      .outlet-area {
        padding: 0 1rem 1rem 1rem;
        background: var(--outlet-color);
        height: calc(100vh - 83px);
        overflow: auto;
      }
    }
  }
}