@import '../../../../../assets/scss/font.scss';

:host {
  ::ng-deep {
    .fin-table {
      .table-container {
        width: 100%;
        overflow: auto;
        
        table {
          width: 100%;
          background: transparent;
          overflow: auto;
          border-left: 0.1px solid var(--color-border);

          td{
            color: var(--color-black);
            font-family: $font-primary;
            border-right: 0.1px solid var(--color-border);
            border-bottom: 0.1px solid var(--color-border);
            font-size: 1rem;
          }

          th {
            border-right: 0.1px solid var(--color-border);
            border-top: 0.1px solid var(--color-border);
            white-space: nowrap;
            font-size: 1rem;
          }

          .mat-mdc-header-row {
            background: var(--color-table-th);
            font-family: $font-primary; 
          }
        }
      }
    }
  }
}